In [10]:
"Q-1-->Q1. Explain with an example each when to use a for loop and a while loop."""
#ans: For loops are ideal when you know in advance how many times you want to iterate. They are particularly useful when working with sequences like lists, arrays, or ranges.For loops are ideal when you know in advance how many times you want to iterate. They are particularly useful when working with sequences like lists, arrays, or ranges.
#ex-1--->for loop
i = int
for i in range(1,6):
    print(i+1)
#ex-2--->for loop
l5 = [1,2,"school",3,"internship",4,5,"Hitesh",3.976,"Microsoft",9898,"java"]
l6_num =[]
l7_str =[]
for i in l5:
    if type(i) == int or type(i) == float:
        l6_num.append(i)
        print(l6_num)
    else:
        l7_str.append(i)
    print(l7_str)


#while loop ---> While loops are suitable when you don't know in advance how many times you need to iterate. They continue looping until a specified condition becomes False.
#ex-1--->while loop
n=int(input("entre you limit"))
starting_point =  0
counter = 1
while counter <= n:
    starting_point = starting_point+ counter
    counter = counter+1
print(starting_point)

2
3
4
5
6
[1]
[]
[1, 2]
[]
['school']
[1, 2, 3]
['school']
['school', 'internship']
[1, 2, 3, 4]
['school', 'internship']
[1, 2, 3, 4, 5]
['school', 'internship']
['school', 'internship', 'Hitesh']
[1, 2, 3, 4, 5, 3.976]
['school', 'internship', 'Hitesh']
['school', 'internship', 'Hitesh', 'Microsoft']
[1, 2, 3, 4, 5, 3.976, 9898]
['school', 'internship', 'Hitesh', 'Microsoft']
['school', 'internship', 'Hitesh', 'Microsoft', 'java']
1035

In [11]:
#Q-2
 # Using a for loop to calculate the sum and product of the first 10 natural numbers
sum_natural = 0
product_natural = 1
for i in range(1, 11):
    sum_natural += i
    product_natural *= i
print("Sum of the first 10 natural numbers:", sum_natural)
print("Product of the first 10 natural numbers:", product_natural)

# Using a while loop to calculate the sum and product of the first 10 natural numbers
sum_natural = 0
product_natural = 1
counter = 1
while counter <= 10:
    sum_natural += counter
    product_natural *= counter
    counter += 1
print("Sum of the first 10 natural numbers:", sum_natural)
print("Product of the first 10 natural numbers:", product_natural)

Sum of the first 10 natural numbers: 55
Product of the first 10 natural numbers: 3628800
Sum of the first 10 natural numbers: 55
Product of the first 10 natural numbers: 3628800

In [13]:
#Q-3
unit_consumed = int(input("entre the no of units consumes:  "))
total_bill = 0
if unit_consumed <=100:
    total_bill = unit_consumed*4.5
elif unit_consumed <=200:
    total_bill = 100*4.5 + (unit_consumed-100)*6
elif unit_consumed <=300:
    total_bill = 100*4.5 + 100*6 + (unit_consumed-200)*10
elif unit_consumed <=400:
    total_bill = 100*4.5 + 100*6 + 100*10 +(unit_consumed-300)*20
print("the amount for the unit of",unit_consumed,"is in total rupees of",total_bill)
#as per the question units used is 310,so

the amount for the unit of 310 is in total rupees of 2250.0

In [20]:
#Q-4
number_list=[i for i in range(1,101)]
print(number_list)

l1=[]
number = int
for number in range(1,101):
    cube = number**3
    if cube%4==0 or cube%5==0:
        l1.append(cube)
print(l1)

l2=[]
number=1
while number <=100:
    cube = number**3
    if cube%4==0 or cube%5==0:
        l2.append(cube)
    number = number+1
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]